* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  background-color: #fdfcf9;
  color: #1a1a1a;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}